.pexels-slider {
  @apply text-center p-5 mt-6 mb-20;
}

.pexels-slider__title {
  @apply text-2xl font-bold text-gray-600 mb-2;
}

.pexels-slider__info {
  @apply text-gray-600 mb-4;
}

.pexels-slider__link {
  @apply text-blue-500 font-semibold hover:underline;
}

.pexels-slider__controls {
  @apply mb-4;
}

.pexels-slider__label {
  @apply mr-2 font-semibold;
}

.pexels-slider__select {
  @apply border border-gray-300 rounded-md p-1;
}

.pexels-slider__error {
  @apply text-red-500;
}

.pexels-slider__carousel {
  @apply mt-4;
}

.pexels-slider__slide {
  @apply p-2;
}

.pexels-slider__image-container {
  @apply relative;
}

.pexels-slider__image {
  @apply w-full h-[300px] object-cover rounded-lg transition-transform duration-300 hover:scale-105;
}

.pexels-slider__skeleton-container {
  @apply flex justify-center gap-4 mt-4;
}

.pexels-slider__skeleton {
  @apply bg-gray-300 animate-pulse rounded-lg;
  width: 100%;
  height: 300px;
  max-width: 500px;
}

@media (max-width: 1024px) {
  .pexels-slider__skeleton {
    max-width: 610px;
  }
}

@media (max-width: 640px) {
  .pexels-slider__skeleton {
    max-width: 639px;
  }
}

.slick-dots {
  @apply flex justify-center mt-8 relative;
}

.slick-dots li button:before {
  @apply text-gray-500 text-lg;
}

.slick-dots li.slick-active button:before {
  @apply text-blue-600;
}

@media (max-width: 640px) {
  .slick-dots {
    @apply mt-12;
    bottom: -50px !important;
  }

  .slick-dots li button:before {
    @apply text-sm;
  }
}

.pexels-slider__favorite-button {
  @apply absolute top-2 right-2 p-2 rounded-full transition text-white/55;
}


.pexels-slider__favorite-button:hover,
.pexels-slider__favorite-active {
  @apply text-red-600;
}

.pexels-slider__image-container:hover .pexels-slider__image,
.pexels-slider__favorite-button:hover ~ .pexels-slider__image {
  @apply scale-105;
}

.pexels-slider__heart-icon {
  @apply w-10 h-10;
}
