.pexels-slider {
  @apply bg-gray-50 dark:bg-gray-900 text-center p-5 mt-6 mb-5 animate-fade-in;
}

.pexels-slider__title {
  @apply text-2xl font-bold text-gray-600 dark:text-gray-200 mb-2;
}

.pexels-slider__info {
  @apply text-gray-600 dark:text-gray-300 mb-4;
}

.pexels-slider__link {
  @apply text-green-500 font-semibold hover:underline;
}

.pexels-slider__controls {
  @apply mb-4;
}

.pexels-slider__label {
  @apply mr-2 font-semibold;
}

.pexels-slider__select {
  @apply border border-gray-300 rounded-md p-1;
}

.pexels-slider__error {
  @apply text-red-500;
}

.pexels-slider__carousel {
  @apply mt-4;
}

.pexels-slider__slide {
  @apply flex justify-center items-center p-2;
}

.pexels-slider__image-container {
  @apply relative max-w-[90%] flex items-center justify-center mx-auto;
}

.pexels-slider__image {
  @apply w-full h-[300px] object-cover rounded-lg transition-transform duration-300;
}

.pexels-slider__skeleton-container {
  @apply flex justify-center gap-12 mt-4;
}

.pexels-slider__skeleton {
  @apply bg-gray-300 animate-pulse rounded-lg;
  width: 100%;
  height: 260px;
  max-width: 480px;
}

@media (max-width: 1024px) {
  .pexels-slider__skeleton {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .pexels-slider__skeleton {
    max-width: 639px;
  }
}

.slick-dots {
  @apply flex justify-center mt-8 relative;
}

.slick-dots li button:before {
  @apply text-gray-500 text-lg;
}

.slick-dots li.slick-active button:before {
  @apply text-green-400;
}

@media (max-width: 640px) {
  .slick-dots {
    @apply mt-12;
    bottom: -50px !important;
  }

  .slick-dots li button:before {
    @apply text-sm;
  }
}

.pexels-slider__favorite-button {
  @apply absolute top-2 right-2 p-2 rounded-full transition text-white/55;
}

.pexels-slider__favorite-button:hover,
.pexels-slider__favorite-active {
  @apply text-red-700;
}

.pexels-slider__heart-icon {
  @apply w-10 h-10 transition-transform duration-300;
}

.pexels-slider__image-container:hover .pexels-slider__image {
  @apply scale-105;
}

.pexels-slider__image-container:hover .pexels-slider__heart-icon {
  @apply scale-[1.2];
}

.pexels-select--centered-position {
  @apply left-1/2 -translate-x-1/2;
}

.pexels-select__wrapper {
  @apply relative mt-1 w-full;
}

.pexels-select__button {
  @apply relative w-full cursor-pointer rounded-md bg-green-200 dark:bg-gray-800 py-2 pl-3 pr-10 text-left shadow-md focus:outline-none sm:text-sm;
}

.pexels-select__text {
  @apply block truncate capitalize text-gray-900 dark:text-gray-200;
}

.pexels-select__icon-wrapper {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;
}

.pexels-select__icon {
  @apply h-6 w-6 text-green-500 dark:text-green-200;
}

.pexels-select__options {
  @apply absolute z-50 mt-1 max-h-60 overflow-auto rounded-md bg-green-200 dark:bg-gray-900 py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-none sm:text-sm mx-auto;
}

.pexels-select__option {
  @apply relative cursor-pointer select-none py-2 pl-10 pr-4 text-gray-900 dark:text-gray-100;
}

.pexels-select__option--active {
  @apply bg-emerald-400 text-white;
}

.pexels-select__option-text {
  @apply block truncate capitalize;
}

.pexels-select__option-text--selected {
  @apply font-medium;
}

.pexels-select__check {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 text-green-600;
}

.pexels-select__check-icon {
  @apply h-6 w-6 font-bold;
}

.pexels-select--sm {
  @apply text-sm py-2 px-2;
}

.pexels-select--md {
  @apply text-base py-2 px-3;
}

.pexels-select--lg {
  @apply text-lg py-3 px-4;
}

.pexels-select--full {
  @apply w-full;
}

.pexels-select--medium {
  @apply w-3/4;
}

.pexels-select--centered {
  @apply w-1/2 mx-auto;
}

.pexels-arrow {
  @apply z-10 absolute -translate-y-1/2 text-green-400 hover:text-green-600 dark:text-green-200 dark:hover:text-green-400 transition;
  top: 38%;
}

.pexels-arrow--left {
  @apply -left-4;
}

.pexels-arrow--right {
  @apply -right-4;
}

.pexels-arrow--tablet {
  top: 42% !important;
}

.pexels-arrow--desktop {
  top: 43% !important;
}

.pexels-arrow--tablet.pexels-arrow--left {
  @apply -left-6;
}

.pexels-arrow--tablet.pexels-arrow--right {
  @apply -right-6;
}

.pexels-arrow--desktop.pexels-arrow--left {
  @apply -left-4;
}

.pexels-arrow--desktop.pexels-arrow--right {
  @apply -right-4;
}

.pexels-arrow__icon {
  @apply w-10 h-10;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out both;
}

.pexels-main__container{
  @apply w-full max-w-[1600px] mx-auto
}