.slider-modal {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50;
}

.slider-modal__overlay {
  @apply absolute inset-0;
}

.slider-modal__content {
  @apply relative bg-white dark:bg-gray-900 p-2 pt-6 rounded-lg shadow-lg flex flex-col items-center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85vw;
  max-height: 80vh;
}

.slider-modal__image {
  @apply object-contain rounded-lg;
  width: 90%;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}

.slider-modal__close {
  @apply absolute left-1/2 -top-20 flex items-center justify-center w-16 h-16 rounded-full bg-black/70 text-white cursor-pointer transition;
  transform: translateX(-50%);
}

.slider-modal__close:hover {
  @apply bg-black/90;
}

.slider-modal__close-icon {
  @apply w-10 h-10 text-green-200 transition-transform duration-300;
}

.slider-modal__close:hover .slider-modal__close-icon {
  @apply rotate-[360deg] text-green-400;
}

.slider-modal__text {
  @apply text-green-700 dark:text-green-200 text-center mt-2 mb-2;
}

.slider-modal__favorite-button {
  @apply absolute left-1/2 -bottom-20 flex items-center justify-center w-16 h-16 rounded-full bg-black/70 transition;
  transform: translateX(-50%);
}

.slider-modal__favorite-button:hover,
.slider-modal__favorite-active {
  @apply bg-black/90;
}

.slider-modal__heart-icon {
  @apply w-10 h-10 text-green-200 hover:text-green-400 transition-transform duration-300;
}

.slider-modal__favorite-active .slider-modal__heart-icon {
  @apply text-red-600;
}

.slider-modal__favorite-button:hover .slider-modal__heart-icon {
  @apply scale-[1.2];
}
